In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [18]:
# Faz a leitura dos arquivos
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

# Concatena os dois dataframes de treino e teste
df_concat = pd.concat([df_train, df_test])

# Mostra as 15 primeiras linhas do dataframe concatenado
df_concat.head(15) 

# Salvar o dataframe concatenado em um arquivo csv
df_concat.to_csv('concatenado.csv', index=False)

In [15]:
# Mostra as informações do dataframe concatenado
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3000 entries, 0 to 999
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  3000 non-null   int64
 1   blue           3000 non-null   int64
 2   clock_speed    3000 non-null   float64
 3   dual_sim       3000 non-null   int64
 4   fc             3000 non-null   int64
 5   four_g         3000 non-null   int64
 6   int_memory     3000 non-null   int64
 7   m_dep          3000 non-null   float64
 8   mobile_wt      3000 non-null   int64
 9   n_cores        3000 non-null   int64
 10  pc             3000 non-null   int64
 11  px_height      3000 non-null   int64
 12  px_width       3000 non-null   int64
 13  ram            3000 non-null   int64
 14  sc_h           3000 non-null   int64
 15  sc_w           3000 non-null   int64
 16  talk_time      3000 non-null   int64
 17  three_g        3000 non-null   int64
 18  touch_screen   3000 non-null   int64
 19  wifi           3000 non-null   int64
 20  price_range    2000 non-null   float64
 21  id             1000 non-null   float64
dtypes: float64(4), int64(18)
memory usage: 539.1 KB

In [16]:
# Remove a coluna 'ID' 
df_concat.drop('id', axis=1, inplace=True)

# Mostra as 15 primeiras linhas do dataframe concatenado
df_concat.head(15)

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1.0
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2.0
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2.0
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2.0
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1.0
5,1859,0,0.5,1,3,0,22,0.7,164,1,...,1004,1654,1067,17,1,10,1,0,0,1.0
6,1821,0,1.7,0,4,1,10,0.8,139,8,...,381,1018,3220,13,8,18,1,0,1,3.0
7,1954,0,0.5,1,0,0,24,0.8,187,4,...,512,1149,700,16,3,5,1,1,1,0.0
8,1445,1,0.5,0,0,0,53,0.7,174,7,...,386,836,1099,17,1,20,1,0,0,0.0
9,509,1,0.6,1,2,1,9,0.1,93,5,...,1137,1224,513,19,10,12,1,0,0,0.0
10,769,1,2.9,1,0,0,9,0.1,182,5,...,248,874,3946,5,2,7,0,0,0,3.0
11,1520,1,2.2,0,5,1,33,0.5,177,8,...,151,1005,3826,14,9,13,1,1,1,3.0
12,1815,0,2.8,0,2,0,33,0.6,159,4,...,607,748,1482,18,0,2,1,0,0,1.0
13,803,1,2.1,0,7,0,17,1.0,198,4,...,344,1440,2680,7,1,4,1,0,1,2.0
14,1866,0,0.5,0,13,1,52,0.7,185,1,...,356,563,373,14,9,3,1,0,1,0.0

In [19]:
df_concat.describe()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range,id
count,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,...,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,2000.000000,1000.000000
mean,1241.849000,0.502000,1.528467,0.512000,4.404000,0.510000,32.581667,0.507000,140.003000,4.456333,...,1247.601667,2129.141333,12.202667,5.616667,11.035667,0.759667,0.502000,0.507000,1.500000,500.500000
std,437.063804,0.500079,0.820358,0.499939,4.383742,0.499983,18.152810,0.285969,35.213809,2.289361,...,434.666168,1085.694231,4.251151,4.322494,5.474400,0.427357,0.500079,0.500034,1.118314,288.819436
min,500.000000,0.000000,0.500000,0.000000,0.000000,0.000000,2.000000,0.100000,80.000000,1.000000,...,500.000000,256.000000,5.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,863.750000,0.000000,0.700000,0.000000,1.000000,0.000000,16.000000,0.200000,109.000000,2.000000,...,865.000000,1212.750000,9.000000,2.000000,6.000000,1.000000,0.000000,0.000000,0.750000,250.750000
50%,1232.000000,1.000000,1.500000,1.000000,3.000000,1.000000,33.000000,0.500000,140.000000,4.000000,...,1248.000000,2147.500000,12.000000,5.000000,11.000000,1.000000,1.000000,1.000000,1.500000,500.500000
75%,1619.000000,1.000000,2.300000,1.000000,7.000000,1.000000,48.000000,0.800000,170.000000,6.000000,...,1634.000000,3065.250000,16.000000,9.000000,16.000000,1.000000,1.000000,1.000000,2.250000,750.250000
max,1999.000000,1.000000,3.000000,1.000000,19.000000,1.000000,64.000000,1.000000,200.000000,8.000000,...,1998.000000,3998.000000,19.000000,18.000000,20.000000,1.000000,1.000000,1.000000,3.000000,1000.000000

In [17]:
# oq eh dropna e fillna
# Remove as linhas com valores NaN
# quantidade de linhas e colunas
print(df_concat.shape)

df_concat.dropna(inplace=True)

print(df_concat.shape)

(3000, 21)
(2000, 21)

In [ ]:
# Função para limpar um dataframe

def clear_df (df, output_csv):
    df.drop('id', axis=1, inplace=True)
    df.dropna(inplace=True)
    df.to_csv(output_csv, index=False)