In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
from IPython.display import display

In [3]:
input_file = 'train.csv'

features = ['battery_power', 'blue', 'clock_speed', 'dual_sim', 'fc', 'four_g', 'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc', 'px_height', 'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g', 'touch_screen', 'wifi']
# 6 - intern memory / 13 - ram
target = 'price_range'

df = pd.read_csv(input_file)

df.describe()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
count,2000.000000,2000.0000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,...,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,1238.518500,0.4950,1.522250,0.509500,4.309500,0.521500,32.046500,0.501750,140.249000,4.520500,...,645.108000,1251.515500,2124.213000,12.306500,5.767000,11.011000,0.761500,0.503000,0.507000,1.500000
std,439.418206,0.5001,0.816004,0.500035,4.341444,0.499662,18.145715,0.288416,35.399655,2.287837,...,443.780811,432.199447,1084.732044,4.213245,4.356398,5.463955,0.426273,0.500116,0.500076,1.118314
min,501.000000,0.0000,0.500000,0.000000,0.000000,0.000000,2.000000,0.100000,80.000000,1.000000,...,0.000000,500.000000,256.000000,5.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000
25%,851.750000,0.0000,0.700000,0.000000,1.000000,0.000000,16.000000,0.200000,109.000000,3.000000,...,282.750000,874.750000,1207.500000,9.000000,2.000000,6.000000,1.000000,0.000000,0.000000,0.750000
50%,1226.000000,0.0000,1.500000,1.000000,3.000000,1.000000,32.000000,0.500000,141.000000,4.000000,...,564.000000,1247.000000,2146.500000,12.000000,5.000000,11.000000,1.000000,1.000000,1.000000,1.500000
75%,1615.250000,1.0000,2.200000,1.000000,7.000000,1.000000,48.000000,0.800000,170.000000,7.000000,...,947.250000,1633.000000,3064.500000,16.000000,9.000000,16.000000,1.000000,1.000000,1.000000,2.250000
max,1998.000000,1.0000,3.000000,1.000000,19.000000,1.000000,64.000000,1.000000,200.000000,8.000000,...,1960.000000,1998.000000,3998.000000,19.000000,18.000000,20.000000,1.000000,1.000000,1.000000,3.000000

### Passo 1: Definir o nÃºmero de classes a serem divididas para cada coluna


### Passo 2: Definir a amplitude de cada classe


### Passo 3: Definir os limites de cada classe


### Passo 4: Definir a frequÃªncia de cada classe

In [44]:
def estilo_tabela(val):
    return 'text-align: center;'
    
def describe(name_column):
    if name_column == 'ram':
        # min = 256, max = 3998
        # o nÃºmero de classes Ã© 15
        amplitude = math.ceil((3998 - 256)/15)
        print(amplitude)
        max_limits = [256 + amplitude * i for i in range(1, 16)]
        min_limits = [255 + amplitude * i for i in range(0, 15)]
        print(max_limits)
        print(min_limits)
        # criar uma nova coluna classificando os valores de ram com os novos rÃ³tulos
        
        df['ram_class'] = pd.cut(df['ram'], bins=[255, 506, 756, 1006, 1256, 1506, 1756, 2006, 2256, 2506, 2756, 3006, 3256, 3506, 3756, 4006], labels=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15])
        
        
        class_summary = df['ram_class'].value_counts().sort_index().rename('frequency').to_frame()
        # print(df['ram_class'])
        
        # salvar novo dataset como csv
        # df.to_csv('train_output.csv', index=False)
    if name_column == 'int_memory':
        # min = 2, max = 64
        # o nÃºmero de classes Ã© 15
        amplitude = math.ceil((64 - 2)/15)
        print(amplitude)
        max_limits = [2 + amplitude * i for i in range(1, 16)]
        min_limits = [2 + amplitude * i  for i in range(0, 15)]
        min_limits[0] = 1
        print(max_limits)
        print(min_limits)
        # criar uma nova coluna classificando os valores de ram com os novos rÃ³tulos
        
        # df['int_memory_class'] = pd.cut(df['int_memory'], bins=[1, 5, 9, 13, 17, 21, 25, 29, 33, 37, 41, 45, 49, 53, 57, 61], labels=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15])
        # df['int_memory_class'] = pd.cut(df['int_memory'], bins=[1, 6, 11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61], labels=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])
        df['int_memory_class'] = pd.cut(df['int_memory'], bins=[1, 5, 9, 13, 17, 21, 25, 29, 33, 37, 41, 45, 49, 53, 57, 61], labels=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15])
        
        
        class_summary = df['int_memory_class'].value_counts().sort_index().rename('frequency').to_frame()
        # print(df['int_memory_class'])
        
        # salvar novo dataset como csv
        df.to_csv('train_output.csv', index=False)
        
    # criar tabela visual com matplot com seguintes colunas: classe/rotulo, limite inferior, limite superior, frequencia absoluta, frequencia relativa, frequencia acumulada
    # Assuming df['ram_class'] is already created
    
    class_summary['lower_limit'] = min_limits
    class_summary['upper_limit'] = max_limits
    class_summary['relative_frequency'] = (class_summary['frequency'] / class_summary['frequency'].sum())*100
    class_summary['cumulative_frequency'] = class_summary['frequency'].cumsum()
    class_summary['cumulative_frequency_percentage'] = (class_summary['cumulative_frequency'] / class_summary['frequency'].sum())*100
    # print(class_summary.head(15))
    
    # Styling
    styled_df = class_summary.style.applymap(estilo_tabela) \
                                    .set_properties(**{'width': '100px'}) \
                                    .set_table_styles([{'selector': '', 'props': [('border', '1px solid black')]}])
    display(styled_df)

    # criar histograma com as classes
    # criar grÃ¡fico de pizza com as classes
    # criar grÃ¡fico de linha com as classes
    

columns = ['ram', 'int_memory']    
describe(columns[1])

5
[7, 12, 17, 22, 27, 32, 37, 42, 47, 52, 57, 62, 67, 72, 77]
[1, 7, 12, 17, 22, 27, 32, 37, 42, 47, 52, 57, 62, 67, 72]